<!-- <div class="js-widget-overlay"></div>
<div class="js-widget-dialog"></div> -->
<script src="https://kit.fontawesome.com/8a8f1a6777.js" crossorigin="anonymous"></script>
<!-- <link
  rel="stylesheet"
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
/> -->
<meta content="width=device-width, initial-scale=1" name="viewport" />
<div>
  <div class="sidebar">
    <!-- <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a> -->
   
    </script>
    <div class="grid__">
      <button
        id="staccess__dyslexiaFont__btn"
        class="tile__"
        type="button"
        onclick="dyslexiaFontSwitch()"
      >
      <img src = "../icons/dyslexia.svg" alt="Activate dyslexia font"/>
    
        <!-- <i class="fa-solid fa-glasses fa-2xl"></i> -->
       <p>Dyslexic Font</p> 
        <!-- <i class="fa-solid fa-glasses"></i> -->
      </button>

      <button  id="staccess__fontsize__btn"
      class="tile__"
      type="button"
      onclick="changeFontSize()">
      <img src = "../icons/font-size.svg" alt="Change font size"/>
      <p>Font Size</p>
    </button>

    <button  id="staccess__letterspacing__btn"
    class="tile__"
    type="button"
    onclick="changeLetterSpacing()">
    <img src = "../icons/letter-spacing.svg" alt="Change letter space"/>
    <p>Letter Spacing</p>
  </button>

  <button  id="staccess__lineheight__btn"
  class="tile__"
  type="button"
  onclick="changeLineHeight()">
  <i class="fa-solid fa-line-height fa-2xl"></i>
  <img src = "../icons/line-height.svg" alt="Change line height"/>
  <p>Line Height</p>
</button>
<button  id="staccess__linefocus__btn"
  class="tile__"
  type="button"
  onclick="applyLineFocus()">
  <i class="fa-solid fa-line-height fa-2xl"></i>
  <img src = "../icons/line-focus2.svg" alt="Activate Line Focus"/>
  <p>Line Focus</p>
</button>
<button  id="staccess__readingruler__btn"
  class="tile__"
  type="button"
  onclick="applyReadingRuler()">
  <i class="fa-solid fa-line-height fa-2xl"></i>
  <img src = "../icons/ruler.svg" alt="Activate Line Focus"/>
  <p>Reading Ruler</p>
</button>
<button  id="staccess__whitecursor__btn"
  class="tile__"
  type="button"
  onclick="applyWhiteCursor()">
  <i class="fa-solid fa-line-height fa-2xl"></i>
  <img src = "../icons/cursor-icon.svg" alt="Activate Line Focus"/>
  <p>White Cursor</p>
</button>
<button  id="staccess__bluelightfilter__btn"
  class="tile__"
  type="button"
  onclick="applyBluelightFilter()">
  <i class="fa-solid fa-line-height fa-2xl"></i>
  <img src = "../icons/moon.svg" alt="Activate Line Focus"/>
  <p>Bluelight Filter</p>
</button>
<button  id="staccess__screenoverlay__btn"
  class="tile__"
  type="button"
  onclick="applyScreenOverlay()">
  <i class="fa-solid fa-line-height fa-2xl"></i>
  <img src = "../icons/moon2.svg" alt="Activate Line Focus"/>
  <p>Screen Overlay</p>
</button>
<button  id="staccess__dyslexiaruler__btn"
  class="tile__"
  type="button"
  onclick="applyDyslexiaRuler()">
  <i class="fa-solid fa-line-height fa-2xl"></i>
  <img src = "../icons/dyslexia-ruler.svg" alt="Activate Line Focus"/>
  <p>Dyslexia Ruler</p>
</button>
<button  id="staccess__readText__btn"
  class="tile__"
  type="button"
  onclick="applyReadText()">
  <i class="fa-solid fa-line-height fa-2xl"></i>
  <img src = "../icons/dyslexia-ruler.svg" alt="Activate Line Focus"/>
  <p>Read</p>
</button>
    </div>
  </div>
  <button id="access__btn" class="float__access">
    <!-- <i class="fa fa-low-vision" aria-hidden="true"></i> -->
    <img src = "../icons/accessibility.svg" alt="Accessibility Widget Icon"/>

    <!-- <i class="fa fa-wheelchair-alt" aria-hidden="true"></i> -->
  </button>
</div>
