.st_sidebar__ {
  margin: 0;
  padding: 0;
  width: 400px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  visibility: hidden;
  top: 0;
  z-index: 2147483647;
}
@media screen and (max-width: 700px) {
  .st_sidebar__ {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2147483647;
  }
  .st_sidebar__ a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

/* @media screen and (max-width: 400px) {
  .st_sidebar__ a {
    text-align: center;
    float: none;
    top: 0;
  }
}
.st_sidebar__ a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.st_sidebar__ a.active {
  background-color: #04aa6d;
  color: white;
}

.st_sidebar__ a:hover:not(.active) {
  background-color: #555;
  color: white;
} */
