:root {
  --primary__: #1564bf;
  --hover__: #5e91f2;
  --selected__: #003b8e;
}
.st_sidebar__ {
  margin: 0;
  padding: 0;
  width: 400px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  visibility: hidden;
  top: 0;
  z-index: 2147483647;
}
/* .st__footer__ {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
  background-color: var(--primary__);
  color: white;
  align-items: center;
  text-align: center;
  box-shadow: 20px 20px 20px 10px #fff;
  border-radius: 2px;
} */
.st__footer__ {
  left: 0;
  bottom: 0;
  width: 400px;

  font-size: 10px;
  color: var(--primary__) !important;
  align-items: center;
  text-align: center;
  box-shadow: 20px 20px 20px 10px #fff;
  border-radius: 2px;
}
@media screen and (max-width: 700px) {
  .st_sidebar__ {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 2147483647;
  }
  .st_sidebar__ a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
  /* .st__footer__ {
    display: none;
  } */
}

/* @media screen and (max-width: 400px) {
  .st_sidebar__ a {
    text-align: center;
    float: none;
    top: 0;
  }
}
.st_sidebar__ a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.st_sidebar__ a.active {
  background-color: #04aa6d;
  color: white;
}

.st_sidebar__ a:hover:not(.active) {
  background-color: #555;
  color: white;
} */
