:root {
  --primary__: #1564bf;
  --hover__: #5e91f2;
  --selected__: #003b8e;
}
.whitify {
  /* svg on an img tag */
  -webkit-filter: invert(1); /* safari 6.0 - 9.0 */
  filter: invert(1);
}
/* button.tile__:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #629749;
  z-index: 999;
  content: "";
} */
.scroller {
  overflow: auto;
  height: 100px;
}
.backbtn__ {
  margin: 5px;
  margin-top: 15px;
  min-width: 20px;
  min-width: 10px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.tile__ {
  position: relative;
  cursor: pointer;
}

.grid__ {
  display: grid;
  grid-gap: 10px;
  max-width: 306px;
  grid-template-columns: minmax(min-content, 150px) minmax(min-content, 150px);
  margin: 40px;
  margin-top: 50px;
  overflow: auto;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 50px;
}

.tile__ {
  padding: 0;
  border: 0;
  background: var(--primary__);
  /* background: linear-gradient(0deg, var(--selected__) 25%, var(--primary__) 25%)
    no-repeat; */
  /* background-size: calc(100%) calc(100%); */
  background-position: top;
  color: white;
  min-width: 50px;
  min-height: 150px;
  max-height: 150px;
  max-width: 150px;
  cursor: pointer;
}
/* button :hover {
   background: var(--hover__); 
  cursor: pointer;
} */
/* .st_sidebar__ button :hover {
  background: var(--hover__);
}
button.tile__overlay__:hover {
  background: var(--hover__);
} */

button.tile__:hover {
  background: var(--hover__);
}
.tile__ img {
  width: 35px;
  height: 35px;
  display: inline;
}
.float__access img {
  width: 35px;
  height: 35px;
  display: inline;
}
.float__access {
  cursor: pointer;
}
.tile__ p {
  font-size: 20px;
  padding-top: 5px;
}
.tile__ i {
  padding-top: 30px;
}
.tile__image {
  height: 100%;
  width: 100%;
  max-height: 150px;
  max-width: 150px;
  display: block;
  object-fit: contain;
  display: inline;
}

p.staccess_perc {
  font-size: 15px;
  display: none;
}

.tile__overlay__ {
  width: 100%;
  height: 100%;
  background-color: #1565c0;
}
#st__button_grid__ {
  overflow-y: auto;
  /* max-height: 800px; */
  margin-top: 20px;
  margin-bottom: 20px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 12px;
}

::-webkit-scrollbar:horizontal {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}
-webkit-scrollbar,
-webkit-scrollbar-track {
  display: block !important;
}

@media screen and (max-width: 700px) {
  #staccess__linefocus__btn {
    display: none;
  }
  #staccess__dyslexiaruler__btn {
    display: none;
  }
  #staccess__readingruler__btn {
    display: none;
  }
  #staccess__whitecursor__btn {
    display: none;
  }
  #staccess__clickandread__btn {
    display: none;
  }
  #staccess__readtext__btn {
    display: none;
  }
}
/* button.tile__:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #c5cae9;
  z-index: 999;
  content: "";
}
.tile__ {
  position: relative;
} */
