:root {
  --primary__: #1564bf;
  --hover__: #5e91f2;
  --selected__: #003b8e;
  --light__: #bbdefb;
}

.st_toggle-cover {
  height: 60px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
}

.st_toggle-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;

  line-height: 1;
  padding: 5px;
}

.st_knobs,
.st_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.st_toggle {
  position: relative;
  top: 10px;
  margin-left: 4px;
  width: 74px;
  height: 36px;
  /* margin: -20px auto 0 auto; */
  overflow: hidden;
}

.st_toggle.r,
.st_toggle.r .st_layer {
  border-radius: 100px;
}

.st_toggle.b2 {
  border-radius: 2px;
}

.st_checkbox__ {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.st_knobs {
  z-index: 2;
}

.st_layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

.st_toggle .st_knobs:before {
  content: "OFF";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: var(--light__);
  /* background-color: #f44336; */
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

.st_toggle .st_checkbox__:checked + .st_knobs:before {
  content: "ON";
  left: 42px;
  color: #fff;
  background-color: var(--primary__);
}

.st_toggle .st_checkbox__:checked ~ .st_layer {
  /* background-color: #fcebeb; */
}

.st_toggle .st_knobs,
.st_toggle .st_knobs:before,
.st_toggle .st_layer {
  transition: 0.3s ease all;
}

.st_toggle-title {
  margin-left: 25px;
  font-size: 18px;
  letter-spacing: 0.1px;
}
